
// PROJECT SCSS FILES

@import "../black-estate-develop/scss/abstracts/variables";
@import "../black-estate-develop/scss/base/reset";
@import "../black-estate-develop/scss/base/typography";
@import "../black-estate-develop/scss/components/buttons";
@import "../black-estate-develop/scss/layout/footer";
@import "../black-estate-develop/scss/layout/navbar";
@import "../black-estate-develop/scss/layout/hero";
@import "../black-estate-develop/scss/layout/intros";
@import "../black-estate-develop/scss/layout/features";
@import "../black-estate-develop/scss/layout/shop";
@import "../black-estate-develop/scss/layout/cta";
@import "../black-estate-develop/scss/layout/archive";
@import "../black-estate-develop/scss/layout/product";
@import "../black-estate-develop/scss/components/lined-heading";
@import "../black-estate-develop/scss/components/item";
@import "../black-estate-develop/scss/components/blurb";

// BOOTSTRAP SCSS FILES

@import "../black-estate-develop/node_modules/bootstrap/scss/bootstrap.scss";



.content {
    width: 80vw;
    transition: 1s;
}

.sidebar {
    width: 20vw;
    position: sticky;
    top: 0;
    height: 100%;
}

.wrap{
    display: inline-flex;
}

body{
    overflow-x: hidden;
}

.sidebar__inner {
    position: sticky;
    background: #a1a1a1;
    height: calc(100vh - 0px);
    width: 20vw;
    border-top: 1px solid #616161;
    display: flex;
    flex-direction: column;
}

.content--full{
 width: 100vw;
 transition: 1s;
}

.sidebar__header{
    height: 7vh;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    h4{
        color: #fff;
        font-style: normal;
        text-transform: uppercase;
        margin: 0;
    }
}

.sidebar__footer{
    background: $secondary;
    text-align: center;
    padding: 1em;
}

.sidebar__content--none {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.sidebar__content {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.sidebar__lower {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

