
.hero {
  background: 
  linear-gradient(rgba(28, 32, 33, 0.6), rgba(28, 32, 33, 0.6)),
    url(/assets/images/Hero-Image.jpg);
  height: calc(100vh - 70px);
  background-position: bottom;
  overflow: hidden;

  .button{
    position: absolute;
    bottom: 5vh;
  }

  &__content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%
  }

  &__title{
    color: #fff;
    text-transform: uppercase;
    position: relative;
    font-size: 4em;
    padding: 0.4em 0;
    text-align: center
   
  }
  &__wrap{
    position: relative;
  }
  &__top-line{
    height: 1px;
    width: 110%;
    background: #fff;
    position: absolute;
    top: 0;
    right: -10%;
    display: none;
  }
  &__bot-line{
    height: 1px;
    width: 110%;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: -10%;
    display: none;
  }
  

}
.delay-visable{
  display: block;
}

