
.button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #FFF;
    padding: 0.4em 1.4em;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    letter-spacing: 0.08em;
    transition: 0.4s;
}


.button--cart{
    color: $primary;
    border-color: $primary;
}
.button:hover {
    background-color: #ffffff17;
    color: #fff;
    text-decoration: none
}

.button.button--cart:hover {
    background-color: #eaeaea;
    color: $primary;
}

  