
.button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #FFF;
    padding: 0.4em 1.4em;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    letter-spacing: 0.08em;
}


.button--cart{
    color: $primary;
    border-color: $primary;
}