
body{
  font-family: 'Merriweather', serif;

  @include mobile {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5{
    color: $primary;
    font-family: 'Merriweather', serif;
    font-style: italic;
    letter-spacing: 0.05em;
  }

p{
  font-family: 'Merriweather', serif;
}

a{
  font-family: 'Merriweather', serif;
  
}

