
body{
  font-family: 'Merriweather', serif;
}

h1, h2, h3{
    color: $primary;
    font-family: 'Merriweather', serif;
    font-style: italic;
    letter-spacing: 0.05em;
  }

p{
  font-family: 'Merriweather', serif;
}

a{
  font-family: 'Merriweather', serif;
}
